* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: manipulation;
  display: flex;
  flex-direction: column;
}

body {
  background-color: black;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1000;
}

.navbar .logo {
  height: 50px;
}

.navbar nav {
  display: flex;
  flex-direction: row;
}

.navbar nav ul {
  display: flex;
  list-style-type: none;
}

.navbar nav ul li {
  margin-left: 20px;
}

.navbar nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
  color: #E8B31F;
}

.navbar .user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  z-index: 1001;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.main-banner {
  position: relative;
  height: 100vh;
  background-color: transparent;
}

.main-banner .banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-banner .banner-info {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: white;
  max-width: 600px;
}

.main-banner .banner-info h1 {
  font-size: 4em;
  font-weight: bold;
}

.main-banner .banner-info p {
  font-size: 1.2em;
  margin: 20px 0;
  max-width: 500px;
}

.main-banner .banner-info button {
  background-color: #E8B31F;;
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-banner .banner-info button:hover {
  background-color: #E8B31F;;
}

.movie-row {
  padding: 0 30px;
  margin-bottom: 40px;
}

.movie-row h2 {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.movie-list.active {
  cursor: default;
}

.movie-item {
  transition: transform 0.2s ease-in-out;
  flex-shrink: 0;
  cursor: pointer;

  max-width: calc((100% / 8) - 10px);
  width: 200px;
}

.movie-item:hover {
  transform: scale(1.1);
  z-index: 5;
  position: relative;
}

.movie-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.video-container  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    justify-content: center;
    align-items: center;
  }

  .navbar nav.active {
    display: flex;
  }

  .navbar nav ul {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .navbar nav ul li {
    margin: 20px 0;
  }

  .navbar nav ul li a {
    font-size: 1.5em;
  }

  .main-banner .banner-info h1 {
    font-size: 2.5em;
  }

  .main-banner .banner-info p {
    font-size: 1em;
  }

  .movie-row {
    padding: 0 15px;
  }

  .movie-row h2 {
    font-size: 2em;
  }

  .movie-item {
    max-width: calc((100% / 3) - 10px);
  }

  .movie-item img {
    height: 250px;
  }

  .video-container video {
    max-width: 95%;
    max-height: 80%;
  }
}

@media (max-width: 480px) {
  .movie-item {
    max-width: calc((100% / 2) - 10px);
  }

  .movie-item img {
    height: 260px;
  }

  .video-container video {
    max-width: 100%;
    max-height: 70%;
  }
}
